<div class="component-page">
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item" *appHasPermission="'productos.activos.ver'">
      <button type="button" class="nav-link" [class.active]="activeTab === 'activos'" (click)="seleccionarTab('activos')">
        Productos Activos
      </button>
    </li>

    <li class="nav-item" *appHasPermission="'productos.inactivos.ver'">
      <button type="button" class="nav-link" [class.active]="activeTab === 'inactivos'" (click)="seleccionarTab('inactivos')">
        Productos Inactivos
      </button>
    </li>

    <li class="nav-item" *appHasPermission="'productos.crear'">
      <button type="button" class="nav-link" [class.active]="activeTab === 'crear'" (click)="seleccionarTab('crear')">
        Crear Producto
      </button>
    </li>
  </ul>

  <div class="tab-content">
    @if (activeTab === 'activos' && puedeVerTab('activos')) {
      <div class="tab-pane fade show active">
        <app-listar-unidades-medida></app-listar-unidades-medida>
      </div>
    }

    @if (activeTab === 'inactivos' && puedeVerTab('inactivos')) {
      <div class="tab-pane fade show active">
        <app-listar-unidades-medida-inactivas></app-listar-unidades-medida-inactivas>
      </div>
    }

    @if (activeTab === 'crear' && puedeVerTab('crear')) {
      <div class="tab-pane fade show active">
        <app-crear-unidad-medida></app-crear-unidad-medida>
      </div>
    }
  </div>
</div>