<div class="container">
    <h2>Listado de Productos</h2>
    <div class="form-section">
        <div class="row">
            @for (item of productos; track $index) {
            <div class="col-lg-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        {{item.nombre}}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{item.descripcion}}</li>
                        <li class="list-group-item">{{item.precio}}</li>
                        <li class="list-group-item">{{item.proveedor}}</li>
                        <li class="list-group-item">{{item.categoria}}</li>
                        <li class="list-group-item">{{item.stock}}</li>
                    </ul>
                </div>
                <!-- <p>{{item.nombre}}</p> -->
            </div>
            }
        </div>
    </div>
</div>