<div class="component-page">
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item" *appHasPermission="'categorias.activos.ver'">
      <button type="button" class="nav-link" [class.active]="activeTab === 'activos'" (click)="seleccionarTab('activos')">
        Categorias Activos
      </button>
    </li>

    <li class="nav-item" *appHasPermission="'categorias.inactivos.ver'">
      <button type="button" class="nav-link" [class.active]="activeTab === 'inactivos'" (click)="seleccionarTab('inactivos')">
        Categorias Inactivos
      </button>
    </li>

    <li class="nav-item" *appHasPermission="'categorias.crear'">
      <button type="button" class="nav-link" [class.active]="activeTab === 'crear'" (click)="seleccionarTab('crear')">
        Crear Categoria
      </button>
    </li>
  </ul>

  <div class="tab-content">
    @if (activeTab === 'activos' && puedeVerTab('activos')) {
      <div class="tab-pane fade show active">
        <app-listar-categorias></app-listar-categorias>
      </div>
    }

    @if (activeTab === 'inactivos' && puedeVerTab('inactivos')) {
      <div class="tab-pane fade show active">
        <app-listar-categorias-inactivas></app-listar-categorias-inactivas>
      </div>
    }

    @if (activeTab === 'crear' && puedeVerTab('crear')) {
      <div class="tab-pane fade show active">
        <app-crear-categoria></app-crear-categoria>
      </div>
    }
  </div>
</div>