<div class="component-page">
    <div class="row align-items-center justify-content-between mb-3">
        <div class="col-md-auto">
            <div class="d-flex align-items-center gap-2 flex-wrap">
                <h3 class="mb-0 me-2">Realizar Venta</h3>
                <button *appHasPermission="'ventas.historial.ver'" class="btn btn-sm btn-primary" type="button" routerLink="/venta/venta">
                    Historial Ventas
                </button>
            </div>
        </div>

        <div class="col-md-auto text-md-end mt-2 mt-md-0">
            <h3 class="mb-0">
                Total: {{ calcularTotal() | currency:'USD':'symbol':'1.2-2' }}
                | Cambio: {{ calcularCambio() | currency:'USD':'symbol':'1.2-2' }}
            </h3>
        </div>
    </div>
    <div class="form-section mb-3">
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <span class="input-group-text">Escanea</span>
                    <input #inputCodigo class="form-control" list="listaProductos" type="text" [(ngModel)]="codigoProducto" (keyup.enter)="agregarProductoPorCodigo()" placeholder="Escanear código o escribir nombre">
                    <datalist id="listaProductos">
                        @for (p of productos; track p.id) {
                            <option [value]="p.codigo" [label]="p.nombre"></option>
                        }
                    </datalist>
                </div>
            </div>
        </div>
    </div>

    <div class="form-section form-section-fill mb-3">
        @for (producto of carrito; track $index) {
        <div class="row">
            <div class=" col-sm-1 col-md-1 col-lg-1 p-0 d-flex justify-content-center align-items-center">
                <!-- Botón eliminar (pasa el índice) -->
                <button (click)="disminuirCantidad($index)" class="btn btn-sm btn-danger w-50"><i class="fa-solid fa-trash"></i></button>
            </div>
            <div class=" col-sm-1 col-md-1 col-lg-1 p-0 d-flex align-items-center justify-content-center">
                <!-- <p class="m-2">{{ producto.cantidad }} x</p> -->
                 <div class="input-group">
                     <!-- <input class="form-control" type="number" min="0" max="{{producto.producto.stock}}" step="1" [(ngModel)]="producto.cantidad"> -->
                    <input
                    class="form-control"
                    type="number"
                    [min]="producto.producto.unidadMedida.permiteDecimales ? '0.00' : '1'"
                    [max]="obtenerMaximoPermitido(producto.producto.codigo, $index)"
                    [step]="producto.producto.unidadMedida.permiteDecimales ? '0.05' : '1'"
                    [ngModel]="producto.cantidad"
                    (ngModelChange)="actualizarCantidadItem($index, $event)"
                    >  
             
                </div>
            </div>
            <div class="col d-flex align-items-center">
                    <small class="text-muted">
                    Disponible: {{ obtenerStockDisponible(producto.producto.codigo) + producto.cantidad }}
                    </small>  
            </div>
            <div class=" col-sm-8 col-md-6 col-lg-4 p-0 d-flex align-items-center">
                <p class="m-2">{{producto.producto.nombre}}</p>
            </div>
            <!-- <div class="                   col-lg-4 p-0 align-items-center d-none d-lg-flex">
                <p class="m-2">{{producto.producto.descripcion}}</p>
            </div> -->
            <div class="          col-md-2 col-lg-1 p-0 align-items-center justify-content-center d-none d-md-flex">
                <p class="m-2">{{ producto.producto.precio | currency:'USD':'symbol':'1.2-2' }}</p>
            </div>
            <div class=" col-sm-2 col-md-2 col-lg-1 p-0 d-flex align-items-center justify-content-center">
                <p class="m-2">{{ producto.producto.precio * producto.cantidad | currency:'USD':'symbol':'1.2-2' }}</p>
            </div>
        </div>
        }
        <!-- <pre>{{productosOriginal | json}}</pre> -->
        <!-- <div class="row">
            <div class=" p-0 col-3 offset-9 d-flex justify-content-end">
                <p class="m-2 me-3">Total: {{ calcularTotal() | currency:'USD':'symbol':'1.2-2' }}</p>
            </div>
        </div> -->
    </div>

    <div class="form-section">
        <div class="row g-3">
            <div class="col-sm-6 col-md-3 col-lg-2">
                <div class="input-group">
                    <span class="input-group-text">Total</span>
                    <input class="form-control" type="text" [value]="calcularTotal() | currency:'USD':'symbol':'1.2-2'" disabled placeholder="Dinero recibido">
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2">
                <div class="input-group">
                    <span class="input-group-text">Recibe</span>
                    <input #inputCambio class="form-control" type="number" min="0" step="1" [(ngModel)]="dineroRecibido" placeholder="Dinero recibido">
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2">
                <div class="input-group">
                    <span class="input-group-text">Cambio</span>
                    <input class="form-control" type="number" min="0" [value]="calcularCambio()" disabled placeholder="Dar cambio">
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2 offset-lg-4">
                <button class="btn btn-success w-100" type="button" (click)="finalizarVenta()">Finalizar Venta</button>
            </div>
        </div>
    </div>
</div>